/*Body styling*/
body {
    height: 100vh;
    background: linear-gradient(
        145deg,
        rgb(45, 44, 44),
        rgb(255, 47, 0)
    );
}
/*Navigation Bar*/
.navbar-brand{
    padding-left: 25px;
}
/*login form*/
.container{
    width: 450px;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    padding: 30px 40px;
    border: 2px thin orangered;
    border-radius: 10px;
    background-color: white;
    height: 300px;
}
/*Password and Username Input area*/
input[type=text],input[type=password]{
    width: 100%;
    height: 40px;
    padding: 5px;
    margin-bottom: 25px;
    margin-top: 5px;
    border: 2px solid #ccc;
    color: #4f4f4f;
    font-size: 16px;
    border-radius: 5px;
}
/*Submit button*/
input[type=button]{
    font-size: 16px;
    background: linear-gradient orangered;
    border: 1px solid orangered;
    color: white;
    background-color: orangered;
    font-weight: bold;
    cursor: pointer;
    width: 100%;
    border-radius: 5px;
    padding: 10px 0;
    outline:none;
}
/*Registration form*/
#register {
    width: 450px;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    padding: 30px 40px;
    border: 2px thin orangered;
    border-radius: 10px;
    background-color: white;
    height: 400px;
}